.readinglist__container {
    padding: 45px;
    margin: 2rem;
    background-color: var(--color-white);
}

.readinglist__title {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    color: var(--color-primary);

}

.readinglist--item li:before {
    content: "\2665";
    color: #D9925D ;
    padding: 5px;
}
