.nav__bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 5rem;
    color: var(--color-white);
}

.nav__link--item {
    margin: 0.2rem;
}

.nav__logo {
    position: fixed;
    left: 2rem;
    top: 1rem;
    font-family: var(--font-main);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--color-primary);
    background-color: var(--color-white);
    padding: 1rem;

}

.nav__link--text li {
    padding: 0.2rem;
    font-size: 1.3rem;
}

.nav__icon--exit {
    background-color: transparent;
    border: transparent;
    color: var(--color-white);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__link--text {
    text-decoration: none;
    letter-spacing: 0.3rem;
    text-transform: lowercase;
    color: var(--color-white);
}

.selected {
    color: var(--color-accent) !important;

}
