.search__container {
    /*width: calc(- 2rem); !*100vw maar min de margin left en right*!*/
    /*margin-right: 20vw;*/
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 65px;
    flex-wrap: wrap;

}

.search__container--left {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /*padding-left: 10vw;*/
    max-width: 350px;
    height: 400px;
    background-color: var(--color-white);
}

.search__box {
    display: flex;
}

.search__input {
    padding: 10px;
    max-width: 300px;
    height: 30px;
}
.search__button {
    padding: 10px;
    height: 55px;
    border-color: var(--color-primary);
    background-color: transparent;
    cursor: pointer;

}




.author__image{
    transition: 0.5s;
    border: 10px solid var(--color-secondary)
}



.search__container--right {
    transition: 0.5s;
    display: flex;
    position: relative;
    height: 400px;
}

.search__image {
    height: 400px;
    width: 500px;
}
