
.search-image {
    height: 400px;
    width: 500px;


}

.container {
    width: calc(100vw - 20vw - 2rem);   /*100vw maar min de margin left en right*/
    margin-right: 20vw;
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 65px;

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 10vw;
    width: 60vw;
    height: 400px;
    background-color: var(--color-white);
}

.right {
    display: flex;
    position:relative;
    height: 400px;
}

.author-picture {
    position:absolute;
    top: calc(90% - 90px); /*90% positie, -90 px opzij want image is 180px*/
    left: -90px;
    border: 10px solid var(--color-secondary)
}