.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( -90deg, var(--color-white) 0%, var(--color-white)  60%, var(--color-primary) 60%, var(--color-primary)  60%);
}

.app-container-left {
    width: 70vw;

}
.app-container-right {
    width: 30vw;
    background-color: var(--color-primary);
}
.logo {
    padding: 25px;
    margin: 10px;
    color:var(--color-white)
}